body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    line-height: 27px;
}

header{
    background-color: #d14635;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
h1, h2 {
    font-family: 'Supermercado One', cursive;
}

header h1 {
    color: white;
    font-size: 40px;
    
}

header img{
    border-radius: 150px;
    width: 300px;
    border: 15px solid chocolate;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: red;
}

a{
    color: brown;
}

a:hover{
    color: white;
    background-color: black;
}

footer{
    background-color: #d14635;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}

footer a:hover{
    opacity: .5;
    background-color: transparent;
}